.form-wrapper{
    align-items: center;
    margin-top: 5%;
}
.form-item{
    margin-top: 0.5%;
    display: block;
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #ebfeff;
    border-radius: 3px;
    transition: 0.5s;
    font-size: 105%;
}

.form-item:focus{
    background-color: #fff;
    border: 0.5px solid #82f2fa;
}

.text{
    text-align: center;
    font-size: 300%;
}

.form-button{
    margin-top: 0.5%;
    display: block;
    outline: none;
    border: none;
    width: 75px;
    height: 25px;
}

.form-button:hover{
    background-color: #b0b0b0;
    cursor: pointer;
}

.form-error{
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 110%;
}

.form-helper{
    margin-top: 10px;
    text-align: center;
}